<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.HealthyCampus">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!--打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!--******************定位*****************-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />     <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />   <!--获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.INTERNET" />    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />  <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!--用于申请调用A-GPS模块-->


    <!--相机-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!--******************极光权限*****************-->
    <!-- Required -->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="com.wapchief.jpushim.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />


    <application
        android:name=".application.HealthApp"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_app_round_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_app_round_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.HealthyCampus.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!--咨询-->
        <activity
            android:name=".module.HomePage.Consultation.ConsultationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--图文咨询-->
        <activity
            android:name=".module.HomePage.Consultation.Picture.ConsultPictureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!--电话咨询-->
        <activity
            android:name=".module.HomePage.Consultation.Phone.ConsultationPhoneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!--基本信息-->
        <activity
            android:name=".module.HomePage.Consultation.Picture.Information.InformationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--患者信息-->
        <activity
            android:name=".module.HomePage.Consultation.Picture.Information.Add.InformationAddActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <!--加载登陆状态-->
        <activity
            android:name=".module.Loading.LoadingActivity"
            android:theme="@style/AppTheme_Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--基本容器-->
        <activity
            android:name=".framework.BaseContainerActivity"
            android:screenOrientation="portrait" />

        <!--主界面-->
        <activity
            android:name=".module.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--注册1-->
        <activity
            android:name=".module.Mine.Register.first.RegisterActivity1"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--注册2-->
        <activity
            android:name=".module.Mine.Register.second.RegisterActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--登录-->
        <activity
            android:name=".module.Mine.Login.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--通讯录-->
        <activity
            android:name=".module.Message.Address_list.AddressListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--用户信息-->
        <activity
            android:name=".module.Mine.User.UserInformationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--新朋友-->
        <activity
            android:name=".module.Message.New_friend.NewFriendActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--添加朋友-->
        <activity
            android:name=".module.Message.New_friend.Add_Friend.AddFriendActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--添加朋友消息-->
        <activity
            android:name=".module.Message.New_friend.Add_Friend.Add_Friend_Msg.AddFriendMsgActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--新朋友更多列表-->
        <activity
            android:name=".module.Message.New_friend.List.NewFriendListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--好友申请-->
        <activity
            android:name=".module.Message.New_friend.Apply_Friend.ApplyFriendActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--聊天-->
        <activity
            android:name=".module.Message.Chat.ChatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!--照片选择-->
        <activity
            android:name=".module.Message.Chat.imageselect.ImageSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--地图-->
        <activity
            android:name=".module.Message.Chat.Map.MapActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--照片选择-->
        <activity
            android:name=".module.Message.Chat.imageactivity.ImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--视频播放-->
        <activity
            android:name=".module.Message.Chat.Vedio.VedioActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--通知界面-->
        <activity
            android:name=".module.Message.Notice.NoticeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--药品库-->
        <activity
            android:name=".module.Find.Drug_Bank.DrugBankActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--药品详细-->
        <activity
            android:name=".module.Find.Drug_Bank.Medicine_Detail.MedicineDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <!--健康食谱-->
        <activity
            android:name=".module.Find.Recipes.RecipesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--一周定制-->
        <activity
            android:name=".module.Find.Recipes.Customization.activity.CustomizationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <!--菜肴详细-->
        <activity
            android:name=".module.Find.Recipes.Customization.activity.Detail.RecipesDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--分析结果-->
        <activity
            android:name=".module.Find.Recipes.ClassifierCamera.ClassifyResult.ClassifyResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--功能食谱-->
        <activity
            android:name=".module.Find.Recipes.Functionality.RecipesList.activity.RecipesListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--拍照查看-->
        <activity
            android:name=".module.Find.Recipes.ClassifierCamera.ClassifierCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <!--自助诊断-->
        <activity
            android:name=".module.Find.Diagnosis.DiagnosisActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--疾病百科-->
        <activity
            android:name=".module.Find.Diagnosis.List.DiseaseSort.DiseaseSortActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--疾病详情-->
        <activity
            android:name=".module.Find.Diagnosis.List.DiseaseSort.Detail.DiseaseDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <!--附近药店-->
        <activity
            android:name=".module.Find.Nearby.NearbyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <!--健康资讯-->
        <activity
            android:name=".module.Find.News.HealthNewsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <!--资讯文章-->
        <activity
            android:name=".module.Find.News.list.Article.HealthNewsArticleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <!--我的服务-->
        <activity
            android:name=".module.Mine.Service.ServiceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--城院全景、4,6级查询、快递-->
        <activity
            android:name=".module.Mine.Service.WebView.WebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--天气-->
        <activity
            android:name=".module.Mine.Service.Weather.WeatherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--图书馆-->
        <activity
            android:name=".module.Mine.Service.Library.LibraryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--图书信息-->
        <activity
            android:name=".module.Mine.Service.Library.Detail.LibraryDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--体质测试-->
        <activity
            android:name=".module.Mine.Physique.PhysiqueActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--心理讲座-->
        <activity
            android:name=".module.Mine.Service.Lecture.LectureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--课表-->
        <activity
            android:name=".module.Mine.Service.timeTable.TimeTableActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--反馈-->
        <activity
            android:name=".module.Mine.Feedback.FeedbackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--讲座细节-->
        <activity
            android:name=".module.Mine.Service.Lecture.Detail.LectureDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <!-- UmengShare START -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1109884848" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5d7b68b84ca3576ca500060a" />
        <!-- UmengShare END -->

        <!-- LeacCloud反馈组件 START -->
        <activity android:name="com.avos.avoscloud.feedback.ThreadActivity" />
        <!-- LeacCloud反馈组件 END -->

        <!-- bugly 升级更新 START-->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:theme="@android:style/Theme.Translucent" />
        <!-- bugly 升级更新 END-->

        <!-- LeanCloud 渠道配置 -->
        <meta-data
            android:name="leancloud"
            android:value="${CHANNEL_VALUE}" />

        <!-- Bugly 渠道配置 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="${CHANNEL_VALUE}" />

        <receiver
            android:name=".Step.StepStarter"
            android:enabled="true"
            android:exported="true" />


    </application>


</manifest>